

div#container {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
.warning {
  color: red;
  font-weight: 400;
  visibility: hidden;
}

#sky{
    width: 100%;
    left:0;
    top:0;
    z-index: 2;
    position: fixed;
    display: none;
}
#cameraClicker{
    left:32%;
    bottom: 18%;
    width: 40%;
    z-index: 4;
    display: none;
    position: fixed;
}
#monument{
    left:0px;
    max-width: 100%;
    bottom: 8%;
    z-index: 2;
    display: none;
    position: fixed;
}
#weather {
  display: none;
  width: 100%;
  left:0;
  bottom: 0%;
  z-index: 3;
  position: fixed;
}

#tree {
  display: block;
  width: 40%;
  left: 0;
  bottom: 12%;
  z-index: 2;
  position: fixed;
}

#shareBtn {
  max-width: 70%;
  display: none;
  padding-left: 15%;
  bottom: 20%;
  z-index: 4;
  position: fixed;
}


#video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
}

#download{
  display: none;
  bottom: 20%;
  left: 42%;
  width: 20%;
  z-index: 4;
  position: absolute;
  height: 20%;
}

#shapShot {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
}
