

div#container {
  position: relative;
}

.images{
  left:50%;
  z-index: 2;
  position: relative;
}

.video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: auto;
  z-index: 1;
}
