

div#container {
  position: relative;
  height: 100%;
  width: 100%;
}
.warning {
  color: red;
  font-weight: 400;
  visibility: hidden;
}

#header{
    width: 100%;
    left:0;
    z-index: 2;
    position: fixed;
    display: none;
}
#cameraClicker{
    left:32%;
    bottom: 18%;
    z-index: 4;
    display: none;
    position: fixed;
}
#monument{
    left:0px;
    max-width: 100%;
    bottom: 12%;
    z-index: 2;
    display: none;
    position: fixed;
}
#hashtag {
  display: none;
  width: 100%;
  left:0;
  bottom: 5%;
  z-index: 3;
  position: fixed;

}


#video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
}

#shapShot {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
}
